<div class='filler'>
</div>
<h1 id='header'>Ideabox (with Vue!)</h1>

<div class='filler'>
</div>
<div class='row'>
  <div class='small-6 small-centered columns' id='new-idea'>
    <div class='input-filler'>
    </div>
    <div class='row'>
      <div class='small-8 small-centered columns'>
        <input type='text' placeholder='Idea name...' v-model='newIdeaTitle'>
        <textarea placeholder='Idea body...' v-model='newIdeaBody'></textarea>
        <div class='row'>
          <div class='small-4 small-centered columns btn-container'>
            <button type='submit' class='primary button hollow' v-on:click="newIdea( newIdeaTitle, newIdeaBody )">
              <i class="fi-lightbulb"></i> Create!
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='ideas'>
  <div class='row' v-for='idea of ideas' id="idea-{{ idea.id }}" track-by="$index">
    <div class='small-4 small-centered columns idea-container'>
      <div class='callout success idea-info'>
        <h5><strong>{{ idea.title }}</strong></h5>
        <p>{{ idea.quality }}</p>
        <p>{{ idea.body }}</p>
        <div class='row'>
          <div class='small-3 small-offset-9 columns btn-container'>
            <button class='button alert hollow' v-on:click='deleteIdea(idea.id)'>
              <i class='fi-x'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
